.loader {
  //nothing here
  &__text {
    font-size: $global-baseline * 2;
    line-height: $global-baseline * 3;
  }
}
.spinner {
  margin: 0 auto;

  width: ($global-baseline * 7);
  height: ($global-baseline * 7);

  background-image: url('data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%3C!DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11.dtd%22%3E%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_1%22%20xmlns%3Asketch%3D%22http%3A%2F%2Fwww.bohemiancoding.com%2Fsketch%2Fns%22%20%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%20width%3D%2284px%22%20height%3D%2284px%22%20%20viewBox%3D%22-311.5%20390.5%2084%2084%22%20enable-background%3D%22new%20-311.5%20390.5%2084%2084%22%20xml%3Aspace%3D%22preserve%22%3E%3Ctitle%3Egear%20icon%20copy%3C%2Ftitle%3E%3Cdesc%3ECreated%20with%20Sketch%20Beta.%3C%2Fdesc%3E%3Cg%20id%3D%22course-notselected%22%20sketch%3Atype%3D%22MSPage%22%3E%20%3Cg%20id%3D%22in-course%22%20transform%3D%22translate(-542.000000%2C%20-348.000000)%22%20sketch%3Atype%3D%22MSArtboardGroup%22%3E%20%20%3Cg%20id%3D%22Sidebar-copy-2%22%20transform%3D%22translate(98.000000%2C%20130.000000)%22%20sketch%3Atype%3D%22MSLayerGroup%22%3E%20%20%20%3Cg%20id%3D%22Structure-copy%22%20transform%3D%22translate(0.000000%2C%20205.000000)%22%20sketch%3Atype%3D%22MSShapeGroup%22%3E%20%20%20%20%3Cg%20id%3D%22Topic-2_x2C_-3%22%20transform%3D%22translate(2.000000%2C%2055.000000)%22%3E%20%20%20%20%20%3Cg%20id%3D%22Topic-copy-2%22%20transform%3D%22translate(9.000000%2C%200.000000)%22%3E%20%20%20%20%20%20%3Cpath%20id%3D%22gear-icon-copy%22%20fill%3D%22%2390C5BA%22%20d%3D%22M168.312%2C354.75l3.041%2C8.549c2.039%2C0.59%2C4%2C1.405%2C5.82%2C2.416l8.199-3.897%20%20%20%20%20%20%20l6.809%2C6.808l-3.898%2C8.193c1.01%2C1.835%2C1.827%2C3.781%2C2.414%2C5.83l8.553%2C3.03v9.634l-8.553%2C3.039%20%20%20%20%20%20%20c-0.587%2C2.045-1.404%2C4-2.414%2C5.824l3.898%2C8.195l-6.809%2C6.811l-8.199-3.898c-1.825%2C1.012-3.781%2C1.827-5.82%2C2.418l-3.041%2C8.549%20%20%20%20%20%20%20h-9.628l-3.042-8.549c-2.042-0.591-3.998-1.406-5.823-2.418l-8.199%2C3.898l-6.807-6.811l3.902-8.195%20%20%20%20%20%20%20c-1.011-1.829-1.83-3.779-2.417-5.824l-8.548-3.039v-9.634l8.548-3.03c0.587-2.049%2C1.406-4%2C2.417-5.83l-3.902-8.193%20%20%20%20%20%20%20l6.807-6.808l8.199%2C3.897c1.83-1.011%2C3.78-1.825%2C5.822-2.416l3.043-8.549H168.312L168.312%2C354.75z%20M163.497%2C403.617%20%20%20%20%20%20%20c7.24%2C0%2C13.111-5.871%2C13.111-13.11s-5.871-13.115-13.111-13.115c-7.243%2C0-13.116%2C5.876-13.116%2C13.115%20%20%20%20%20%20%20S156.254%2C403.617%2C163.497%2C403.617L163.497%2C403.617z%22%2F%3E%20%20%20%20%20%3C%2Fg%3E%20%20%20%20%3C%2Fg%3E%20%20%20%3C%2Fg%3E%20%20%3C%2Fg%3E%20%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E');
  background-repeat: no-repeat;
  background-position: 0 0;

  @include animation-name(rotate);
  @include animation-duration(5s);
  @include animation-timing-function (linear);
  @include animation-iteration-count(infinite);
}

@include keyframes(rotate) {
  0% {transform: rotate(0);}
  100% {transform: rotate(360deg);}
}
