/**
 *  SELECTIFIER MODULE
 *
 *  styling for selectifier component (input + suggestions list)
 *
 *  .selectifier
 *    &__control
 *    <>--  .s-suggestions
 *            &__item
 *
 *  .selectifier-item
 *    &__name
 *    &__extra
 *    <---  .selectifier-item-user
 *            &__avatar
 *    <---  .selectifier-item-course
 *            &__thumb
 *
 */
.selectifier {
  position: relative;

  &__control {
    // ...
  }
}

.s-suggestions {
  display: block;
  width: 100%;
  max-height: $global-baseline * 20 - 2px;
  overflow: scroll;
  position: absolute;
  top: 100%;

  margin-top: $global-baseline/2;

  background: white;
  border: 1px solid rgba(black, 0.15);
  border-radius: $global-border-radius/2;
  box-shadow: 0 1px 3px rgba(black, 0.2);

  &__item {
    padding:  $global-baseline
              $global-baseline
              ($global-baseline - 1px)
              $global-baseline;

    border-bottom: 1px solid lighten(#d0d0d0, 5%);

    &:hover,
    &.selected {
      background: darken($color-bg, 1%);
    }
  }
}

.selectifier-item {
  display: block;

  &__name {
    // ...
  }

  &__extra {
    font-size: $global-font-size-small;
    font-weight: 300;
    line-height: $global-baseline;

    color: $color-tx-muted;
  }
}

.selectifier-item-user {
  @extend .selectifier-item;

  &__avatar {
    display: block;
    height: $global-baseline * 3;
    width: $global-baseline * 3;

    border-radius: 50%;
  }
}

.selectifier-item-course {
  @extend .selectifier-item;

  &__thumb {
    display: block;
    height: $global-baseline * 3;
    border: 1px solid darken($color-bg, 8%);
  }
}