<div xmlns="http://www.w3.org/1999/html">
  <header class="page-header">
    <div class="l-wrap-full">
      <div class="l-tricol">
        <div class="l-tricol__left">

        </div>

        <div class="l-tricol__right">
          <div class="ph-menu">

          </div>
        </div>

        <div class="l-tricol__mid">
          <h1 class="page-header__title">Deployment tool</h1>
        </div>
      </div>
    </div>
  </header>
</div>

<div class="page-content">
  <div class="l-wrap">
    <div class="grid grid--center">
      <div class="grid__item ten-twelfths">
        <div class="content-panel__block">
          <div class="cp-header">
            <h1 class="cp-header__title-primary">Deployment manager</h1>
          </div>
        </div>

        <div class="content-panel__block">
          <div class="l-block-large">
            <div class="simple-table">
              <div class="simple-table__header">
                <div class="grid grid--narrow">
                  <div class="grid__item three-twelfths">User story</div><!--
                  --><div class="grid__item one-tenth">User</div><!--
                  --><div class="grid__item three-twelfths">Application</div><!--
                  --><div class="grid__item two-fifths">Deploy</div>
                </div>
              </div>

              <div class="simple-table__row">
                <div class="st-deployment">
                  <div class="st-deployment__info">
                    <div class="grid grid--narrow">
                      <div class="grid__item three-twelfths">
                        <div class="">Window before purchase AYCL</div>
                        <div class="">SEA-534</div>
                      </div><!--
                      --><div class="grid__item one-tenth">
                      <img class="st-deployment__avatar" src="https://studytube.atlassian.net/secure/useravatar?ownerId=mgrinko&avatarId=10402" alt=""/>
                      </div><!--
                      --><div class="grid__item three-twelfths">
                        <div class="l-block-small">
                              <span class="label label--secondary st-deployment__label">closed academy</span>
                            <div class="st-deployment__icon">
                              <i class="icon-circle-checked"></i>
                            </div>
                        </div>

                        <div class="l-block-small">
                          <span class="label label--secondary st-deployment__label">open academy</span>
                          <div class="st-deployment__icon">
                            <i class="icon-circle-checked"></i>
                          </div>
                        </div>

                        <div class="l-block-small">
                          <span class="label st-deployment__label">api</span>
                        </div>
                      </div><!--
                      --><div class="grid__item two-fifths">
                        <div class="grid grid--narrow">
                          <div class="grid__item one-half"><button class="button button--primary st-deployment__button" disabled="disabled">to Staging</button></div><!--
                          --><div class="grid__item one-half"><button class="button button--primary st-deployment__button" disabled="disabled">to Prodaction</button></div>
                        </div>
                      </div>
                  </div>
                </div>
              </div>
            </div>

              <div class="simple-table__row">
                <div class="st-deployment">
                  <div class="st-deployment__info">
                    <div class="grid grid--narrow">
                      <div class="grid__item three-twelfths">
                        <div class="">Comment on and close annotation</div>
                        <div class="">SEA-668</div>
                      </div><!--
                      --><div class="grid__item one-tenth">
                      <img class="st-deployment__avatar" src="https://studytube.atlassian.net/secure/useravatar?ownerId=hermanlit&avatarId=10401" alt=""/>
                    </div><!--
                      --><div class="grid__item three-twelfths">
                      <div class="l-block-small">
                        <span class="label label--secondary st-deployment__label">closed academy</span>
                        <div class="st-deployment__icon">
                          <i class="icon-circle-checked"></i>
                        </div>
                      </div>

                      <div class="l-block-small">
                        <span class="label label--secondary st-deployment__label">open academy</span>
                        <div class="st-deployment__icon">
                          <i class="icon-circle-checked"></i>
                        </div>
                      </div>

                      <div class="l-block-small">
                        <span class="label label--secondary st-deployment__label">api</span>
                        <div class="st-deployment__icon">
                          <i class="icon-circle-checked"></i>
                        </div>
                      </div>
                    </div><!--
                      --><div class="grid__item two-fifths">
                      <div class="grid grid--narrow">
                        <div class="grid__item one-half"><button class="button button--primary st-deployment__button">to Staging</button></div><!--
                          --><div class="grid__item one-half"><button class="button button--primary st-deployment__button" disabled="disabled">to Prodaction</button></div>
                      </div>
                    </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="simple-table__row">
                <div class="st-deployment">
                  <div class="st-deployment__info">
                    <div class="grid grid--narrow">
                      <div class="grid__item three-twelfths">
                        <div class="">User Page => Analytics</div>
                        <div class="">SEA-709</div>
                      </div><!--
                      --><div class="grid__item one-tenth">
                      <img class="st-deployment__avatar" src="https://studytube.atlassian.net/secure/useravatar?ownerId=stepan.suvorov&avatarId=10400" alt=""/>
                    </div><!--
                      --><div class="grid__item three-twelfths">
                      <div class="l-block-small">
                        <span class="label label--secondary st-deployment__label">closed academy</span>
                        <div class="st-deployment__icon">
                          <i class="icon-circle-checked"></i>
                        </div>
                      </div>

                      <div class="l-block-small">
                        <span class="label label--secondary st-deployment__label">open academy</span>
                        <div class="st-deployment__icon">
                          <i class="icon-circle-checked"></i>
                        </div>
                      </div>

                      <div class="l-block-small">
                        <span class="label label--secondary st-deployment__label">api</span>
                        <div class="st-deployment__icon">
                          <i class="icon-circle-checked"></i>
                        </div>
                      </div>
                    </div><!--
                      --><div class="grid__item two-fifths">
                      <div class="grid grid--narrow">
                        <div class="grid__item one-half">
                          <div class="is-center-aligned">
                            <i class="icon-circle-checked st-deployment__button-check"></i>
                          </div>
                        </div><!--
                        --><div class="grid__item one-half"><button class="button button--primary st-deployment__button">to Prodaction</button></div>
                      </div>
                    </div>
                    </div>
                  </div>
                </div>
              </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>